:root {
  --padding-sm: 8px;
  --padding-md: calc(var(--padding-sm) * 2);
  --padding-lg: calc(var(--padding-sm) * 3);
  --padding-xl: calc(var(--padding-sm) * 4);
  --margin-sm: 8px;
  --margin-md: calc(var(--margin-sm) * 2);
  --main-color: #9966cc;
  --font-md: 2rem;
  --font-lg: 3rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
}

header {
  display: grid;
  background-color: var(--main-color);
  grid-template-rows: 1fr repeat(3, min-content);
  grid-template-areas: "profile";
  padding: var(--padding-md);
}

header .profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: profile;
  padding: 0 var(--padding-sm);
}

.profile-photo img {
  width: 100%;
  max-width: 300px;
  object-fit: fill;
}

header .name {
  grid-area: profile;
  align-self: end;
  justify-self: center;
  font-size: calc(var(--font-md) + 8px);
  padding: 0 calc(var(--padding-sm) + 4px);
}

header .about-header {
  margin-top: var(--margin-md);
  align-self: center;
  justify-self: center;
  padding: var(--padding-sm);
}

header .description {
  line-height: 1.5;
  margin-bottom: var(--margin-sm);
}

.header .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--margin-sm);
}

svg {
  height: 32px;
  width: 32px;
  fill: var(--main-color);
}

a {
  height: min-content;
}

.main {
  background-color: aqua;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: var(--padding-xl);
  width: clamp(250px, 100%, 1024px);
  justify-self: center;
  gap: var(--padding-md);
}

main .project-header {
  justify-self: end;
}

main .projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--padding-lg);
}

main .projects .project {
  display: grid;
  grid-template-rows: 1fr repeat(2, auto);
  grid-auto-columns: 1fr 2rem 2rem;
  grid-template-areas:
    "image image image"
    "title github live-link"
    "desc desc desc";
  background-color: white;
}

main .project img {
  grid-area: image;
  width: clamp(250px, 100%, 1024px);
}

main .project h3 {
  grid-area: title;
  padding: var(--padding-sm);
}

main .project a {
  align-self: center;
  justify-self: center;
}

main .project a:first-of-type {
  grid-area: github;
}

main .project a:last-of-type {
  fill: green;
  grid-area: live-link;
}

main .project .project-description {
  grid-area: desc;
  padding: var(--padding-sm);
}

main .project svg {
  height: 24px;
  width: 24px;
  fill: var(--main-color);
}
